name: SSH deployment

on:
  push:
    branches: ["main"]

jobs:
  Unit-Tests:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout source
        uses: actions/checkout@v3
      - name: Set up python
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
          cache: "pip"
      - name: Install dependencies
        run: python -m pip install --upgrade pip && pip install -r requirements.txt && pip install coverage
      - name: Run tests
        run: python -m coverage run -m pytest
      - name: "Upload coverage to Codecov"
        uses: codecov/codecov-action@v1

  Build-Docker-Container:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    needs: Unit-Tests

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: operationxen/unseen_servant:main

  Deploy-To-Server:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    needs: Build-Docker-Container

    steps:
      - name: Stop services
        uses: appleboy/ssh-action@v0.1.4
        with:
          host: ${{ secrets.SERVER }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            sudo service unseen_servant stop

      - name: Deploy new container
        uses: appleboy/ssh-action@v0.1.4
        with:
          host: ${{ secrets.SERVER }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            docker pull operationxen/unseen_servant:main
            docker stop ${{ secrets.CONTAINER_NAME }} || true
            docker rm ${{ secrets.CONTAINER_NAME }} || true
            docker run -d --name ${{ secrets.CONTAINER_NAME }} --network=unseen_servant_net -p 127.0.0.1:8000:80 \
              -e DJANGO_SECRET=${{ secrets.DJANGO_SECRET }} -e DB_HOST=${{ secrets.DB_HOST }} \
              -e DB_USER=${{ secrets.DB_USER }} -e DB_PASS=${{ secrets.DB_PASS }} \
              -e DISCORD_TOKEN=${{ secrets.DISCORD_TOKEN }} -e DISCORD_GUILDS=${{ secrets.DISCORD_GUILDS }} \
              -e DISCORD_CLIENT_ID=${{ secrets.DISCORD_CLIENT_ID }} -e DISCORD_CLIENT_SECRET=${{ secrets.DISCORD_CLIENT_SECRET }} \
              -e MOONSEACODEX_APIKEY=${{ secrets.MOONSEACODEX_APIKEY }} -e WEBAPP_URL=${{ secrets.WEBAPP_URL }} \
              -e CHANNEL_SEND_PINGS=${{ secrets.CHANNEL_SEND_PINGS }} -e OAUTH_COMPLETE_URL=${{ secrets.OAUTH_COMPLETE_URL }} \
              -e OAUTH_REDIRECT_URL=${{ secrets.OAUTH_REDIRECT_URL }} -e OAUTH_FAIL_URL=${{ secrets.OAUTH_FAIL_URL }} \
              -e DB_HOST=${{ secrets.DB_HOST }} -e DB_NAME=${{ secrets.DB_NAME }} \
              -e DB_USER=${{ secrets.DB_USER }} -e DB_PASS=${{ secrets.DB_PASS }} \
              -v /var/opt/unseen_servant:/unseen_servant/database \
              --restart always \
              operationxen/unseen_servant:main

      - name: Database migrations
        uses: appleboy/ssh-action@v0.1.4
        with:
          host: ${{ secrets.SERVER }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            docker exec ${{ secrets.CONTAINER_NAME }} python manage.py migrate

      - name: Start services
        uses: appleboy/ssh-action@v0.1.4
        with:
          host: ${{ secrets.SERVER }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            docker restart ${{ secrets.CONTAINER_NAME }} 
            sudo service unseen_servant start
