name: Pre-merge tests

on:
  pull_request:
    branches: ["main"]

jobs:
  Unit-Test-API:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout source
        uses: actions/checkout@v3
      - name: Set up python
        uses: actions/setup-python@v3
        with:
          python-version: "3.x"
          cache: "pip"
      - name: Install dependencies
        run: python -m pip install --upgrade pip && pip install -r requirements.txt && pip install coverage
      - name: Run tests
        run: python -m coverage run -m pytest
      - name: "Upload coverage to Codecov"
        uses: codecov/codecov-action@v1
